.input-container-wrapper {
    width: 100%;
}

.input-container {
    margin-top: 23px;
    background-color: #ffffff;
}

input {
    margin: 9px 10px 12px 20px;
}

input.floating-label {
    margin: 0px 10px 3px 20px;
    padding-top: 19px;
}

.val-clean-border {
    border: 2px solid #d2d2d1;
    border-radius: 10px;
}

.val-error-border {
    border: 2px solid red;
    border-radius: 10px;
}

.val-clean-text {
    color: #4c4c4c;
}

.val-error-text {
    color: red;
}

.input-container label {
    position: absolute;
    margin: 3px 0px 0px 10px;
    padding: 3px 4px 0px 10px;
    font-family: "Roboto";
    font-size: 16px;
}

.input-container input {
    outline: none;
    border: none;
    height: 50px;
    font-family: "Roboto";
    font-size: 23px;
    line-height: 22px;
}

.input-container:hover,
.input-container:focus {
    border: 2px solid black;
    border-radius: 10px;
}

#image-icon {
    background-image: url(../../../assets/img/green-tick.jpg);
    background-repeat: no-repeat;
}

.input-tick {
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 20px;
}

.error-message {
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    padding: 2px 0px 2px 5px;
}